<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Индустрии 4.0, IoT, AI, Нейросети, Робототехника, AR, VR, Виртуальная реальность , дополненная реальность, artificial intelligence, Новости ИИ, Разработка ИИ, ИИ в медицине, Тренды ИИ, Внедрение ИИ, Big data, Роботизация, Квадрокоптеры, дроны, тренды из мира роботов, кибербезопасность, хакерские атаки, Интернет вещей, Новости из мира IoT">
    <meta name="description" content="Лучшие Telegram каналы по теме Индустрии 4.0, IoT (Интерент вещей), AI (Искусственный интеллект), Робототехнике, AR, VR и тарнспорте будущего.">
    <title>Индустрия 4.0</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
    <!-- OG -->
    <meta property="og:title" content="4.0">
    <meta property="og:description" content="4.0">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'img/shortcut.png' %}">
    <meta property="og:site_name" content="4.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="body-wrap">
        <section class="top" id="top">
            <div class="container">
                <div class="top__box d-flex">
                    <div class="top__num">
                        <a href="{% url 'main:landing' %}">4.0</a>
                    </div>
                    <ul class="d-flex top__old">
                        {% block category %}
                        <li>
                            <a href="{% url 'main:news' 'fresh' %}" class="disabled">
                                 Свежее
                            </a>
                        </li>
                        <li>
                            <a href="#" class="disabled">
                                Индустрия 4.0
                            </a>
                        </li>
                        <li>
                            <a href="#" class="disabled">
                                Интернет вещей
                            </a>
                        </li>
                        <li>
                            <a href="#" class="disabled">
                                Искуственный интеллект
                            </a>
                        </li>
                        <li>
                            <a href="#" class="disabled">
                                AR/VR
                            </a>
                        </li>
                        <li>
                            <a href="#" class="disabled">
                                Робот Репорт
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Satoshi<div class="top__hub">News</div>
                            </a>
                        </li>
                        {% endblock category %}
                    </ul>
                    <div class="top__info d-flex">
                        <a href="#" class="top__enter">
                            Вход
                        </a>
                        <div class="top__content d-flex">
                            <a href="#" class="top__lan">
                                EN
                            </a>
                            <a href="#" class="top__search">
                                <img src="{% static 'img/lupa.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="menuu">
                          <a href="#" class="button "><span></span></a>
                     </div>
                </div>
            </div>
        </section>
        <div class="burger">
            <div class="burger__flex d-flex">
                <ul>
                    {% block category_burger %}
                    <li>
                        <a href="#" class="disabled">
                             Свежее
                        </a>
                    </li>
                    <li>
                        <a href="#" class="disabled">
                            Индустрия 4.0
                        </a>
                    </li>
                    <li>
                        <a href="#" class="disabled">
                            Интернет вещей
                        </a>
                    </li>
                    <li>
                        <a href="#" class="disabled">
                            Искуственный интеллект
                        </a>
                    </li>
                    <li>
                        <a href="#" class="disabled">
                            AR/VR
                        </a>
                    </li>
                    <li>
                        <a href="#" class="disabled">
                            Робот Репорт
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Satoshi<div class="top__hub">News</div>
                        </a>
                    </li>
                    {% endblock category_burger %}
                </ul>
            </div>
        </div>
        <section class="info" id="info">
            <div class="container">
                <div class="info__box d-flex">
                    <div class="info__content d-flex">
                        <p class="info__name info__what">
                            Курсы валют
                        </p>
                        <div class="info__block d-flex">
                            <div class="info__item d-flex">
                                <div class="info__sign">
                                    $
                                </div>
                                <p>
                                    <b id="usdt-currency"><img class="preloader_currency" src="{% static 'img/preloader-currency.gif' %}" alt="???"></b> <span>руб.</span>
                                </p>
                            </div>
                            <div class="info__item d-flex">
                                <div class="info__sign">
                                     €
                                </div>
                                <p>
                                    <b id="etoro-euro-currency"><img class="preloader_currency" src="{% static 'img/preloader-currency.gif' %}" alt="???"></b> <span>руб.</span>
                                </p>
                            </div>
                            <div class="info__item d-flex">
                                <div class="info__sign">
                                     <img src="{% static 'img/fig1.png' %}" alt="" class="info__one">
                                </div>
                                <p>
                                    <b id="bitcoin-currency"><img class="preloader_currency" src="{% static 'img/preloader-currency.gif' %}" alt="???"></b> <span>руб.</span>
                                </p>
                            </div>
                            <div class="info__item d-flex">
                                <div class="info__sign">
                                     <img src="{% static 'img/fig2.png' %}" alt="">
                                </div>
                                <p>
                                    <b id="ethereum-currency"><img class="preloader_currency" src="{% static 'img/preloader-currency.gif' %}" alt="???"></b> <span>руб.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="news" id="news">
            <div class="container">
                <div class="news__box d-flex">
                    <div class="news__content">
                        {% block news %}
                        <div class="news__item">
                            <div class="news__flex d-flex">
                                <div class="news__info d-flex">
                                    <p class="news__name">
                                        Свежие новости
                                    </p>
                                    <p class="news__text">
                                        Воскресенье, 20 сентября.
                                    </p>
                                </div>
                                <a href="#" class="news__all">
                                    Все материалы <img src="{% static 'img/arrow.png' %}" alt="">
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/vr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Я работала диктатором на полставки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/iot-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Турция испытала свой первый летающий автомобиль»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/ai-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Гендиректор hoster.by: «ИT-страна откатывается назад минимум на 5 лет»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Выпускники физфака БГУ обратились к Нацсобранию. Среди них Румянцев»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/cs-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Трамп запретит загрузку TikTok и WeChat в США с 20 сентября»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/iot-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Facebook обвинили в слежке за пользователями через камеру телефона»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/ai-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Аналитики назвали самые популярные вредоносные рассылки в этом год»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Белорусский сервис Eightydays.me поможет путешествовать внутри стран»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/vr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «iOS 14 без спроса делает Mail и Safari приложениями по умолчанию после перезагрузки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/iot-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Рынок мобильных процессоров рухнул из-за пандемии. Но это ненадолго»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/ai-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Currency.com дает $50 трейдерам Bittrex, попавшим под запрет на обслуживание»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Это информационная война». Основатель Nexta дал интервью Юрию Дудю»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/cs-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «МВД рассказало, чем грозит пользователям беспарольная раздача трафика»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Заявление на сайте Госдепа: 29 стран осудили блокировку интернета в Беларуси»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/vr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Из-за кибератаки на немецкую больницу умерла женщина»
                                </a>
                            </div>
                        </div>
                        <div class="news__item">
                            <div class="news__flex d-flex">
                                <div class="news__info d-flex">
                                    <p class="news__name">
                                        Свежие новости
                                    </p>
                                    <p class="news__text">
                                        Воскресенье, 20 сентября.
                                    </p>
                                </div>
                                <a href="#" class="news__all">
                                    Все материалы <img src="{% static 'img/arrow.png' %}" alt="">
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/vr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Я работала диктатором на полставки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/iot-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Турция испытала свой первый летающий автомобиль»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/ai-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Гендиректор hoster.by: «ИT-страна откатывается назад минимум на 5 лет»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Выпускники физфака БГУ обратились к Нацсобранию. Среди них Румянцев»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/cs-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Трамп запретит загрузку TikTok и WeChat в США с 20 сентября»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/iot-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Facebook обвинили в слежке за пользователями через камеру телефона»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/ai-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Аналитики назвали самые популярные вредоносные рассылки в этом год»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Белорусский сервис Eightydays.me поможет путешествовать внутри стран»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/vr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «iOS 14 без спроса делает Mail и Safari приложениями по умолчанию после перезагрузки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/iot-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Рынок мобильных процессоров рухнул из-за пандемии. Но это ненадолго»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/ai-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Currency.com дает $50 трейдерам Bittrex, попавшим под запрет на обслуживание»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Это информационная война». Основатель Nexta дал интервью Юрию Дудю»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/cs-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «МВД рассказало, чем грозит пользователям беспарольная раздача трафика»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Заявление на сайте Госдепа: 29 стран осудили блокировку интернета в Беларуси»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/vr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Из-за кибератаки на немецкую больницу умерла женщина»
                                </a>
                            </div>
                        </div>
                        <div class="news__item">
                            <div class="news__flex d-flex">
                                <div class="news__info d-flex">
                                    <p class="news__name">
                                        Свежие новости
                                    </p>
                                    <p class="news__text">
                                        Воскресенье, 20 сентября.
                                    </p>
                                </div>
                                <a href="#" class="news__all">
                                    Все материалы <img src="{% static 'img/arrow.png' %}" alt="">
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/vr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Я работала диктатором на полставки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/iot-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Турция испытала свой первый летающий автомобиль»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/ai-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Гендиректор hoster.by: «ИT-страна откатывается назад минимум на 5 лет»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Выпускники физфака БГУ обратились к Нацсобранию. Среди них Румянцев»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/cs-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Трамп запретит загрузку TikTok и WeChat в США с 20 сентября»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/iot-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Facebook обвинили в слежке за пользователями через камеру телефона»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/ai-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Аналитики назвали самые популярные вредоносные рассылки в этом год»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Белорусский сервис Eightydays.me поможет путешествовать внутри стран»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/vr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «iOS 14 без спроса делает Mail и Safari приложениями по умолчанию после перезагрузки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/iot-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Рынок мобильных процессоров рухнул из-за пандемии. Но это ненадолго»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/ai-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Currency.com дает $50 трейдерам Bittrex, попавшим под запрет на обслуживание»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Это информационная война». Основатель Nexta дал интервью Юрию Дудю»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/cs-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «МВД рассказало, чем грозит пользователям беспарольная раздача трафика»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/rr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Заявление на сайте Госдепа: 29 стран осудили блокировку интернета в Беларуси»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/vr-logo.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Из-за кибератаки на немецкую больницу умерла женщина»
                                </a>
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </div>
                <div class="news__loader" style="display: none;"><img src="{% static 'img/preloader-line.svg' %}" alt="loads"></div>
            </div>
        </section>
        <footer class="footer" id="footer">
            <div class="container">
                <div class="footer__socials d-flex">
                    <a href="#">
                        <img src="{% static 'img/socials1.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials2.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials3.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials4.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials5.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials6.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials7.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials8.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials9.png' %}" alt="">
                    </a>
                </div>
                <ul class="footer__list d-flex">
                    <li>
                        <a href="#">
                            Рекламные возможности 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Партнёрские материалы 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакты
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Редполитика
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Пользовательское соглашение
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Частые вопросы 
                        </a>
                    </li>
                </ul>
                <p class="footer__text">
                    © 2008-2020 ЗАО «Индустрия 4.0»
                </p>
            </div>
        </footer>
     </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js?ver=5.1"></script>
    <!-- Подключен файл-валидатор, для проверки формы на заполненность  -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>