<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4.0</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/shortcut.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/shortcut.png' %}" type="image/x-icon">
    <!-- OG -->
    <meta property="og:title" content="4.0">
    <meta property="og:description" content="4.0">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'img/shortcut.png' %}">
    <meta property="og:site_name" content="4.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="body-wrap">
        <section class="top" id="top">
            <div class="container">
                <div class="top__box d-flex">
                    <div class="top__num">
                        4.0
                    </div>
                    <ul class="d-flex top__old">
                        <li>
                            <a href="#">
                                 Свежее
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Интернет вещей
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                 AR/VR
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Транспорт будущего
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                 Роботизация AI 
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                 Кибербезопастность
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                 Tech <div class="top__hub">HUB</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                 Крипто <div class="top__hub">HUB</div>
                            </a>
                        </li>
                    </ul>
                    <div class="top__info d-flex">
                        <a href="#" class="top__enter">
                            Вход
                        </a>
                        <div class="top__content d-flex">
                            <a href="#" class="top__lan">
                                EN
                            </a>
                            <a href="#" class="top__search">
                                <img src="{% static 'img/lupa.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="menuu">
                          <a href="#" class="button "><span></span></a>
                     </div>
                </div>
            </div>
        </section>
        <div class="burger">
            <div class="burger__flex d-flex">
                <ul>
                    <li>
                        <a href="#">
                             Свежее
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Интернет вещей
                        </a>
                    </li>
                    <li>
                        <a href="#">
                             AR/VR
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Транспорт будущего
                        </a>
                    </li>
                    <li>
                        <a href="#">
                             Роботизация AI 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                             Кибербезопастность
                        </a>
                    </li>
                    <li>
                        <a href="#">
                             Tech <div class="top__hub">HUB</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                             Крипто <div class="top__hub">HUB</div>
                        </a>
                    </li>
                </ul>
                <ul class="burger__list">
                        <li>
                            <a href="#">
                                Эксперт 4.0
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Мероприятия
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Вакансии
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Компании
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Исследования
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Спецпроекты
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Вебинары
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Курсы
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Подкасты
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
        <section class="menu" id="menu">
            <div class="container">
                <div class="menu__box d-flex">
                    <ul class="d-flex">
                        <li>
                            <a href="#">
                                Эксперт 4.0
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Мероприятия
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Вакансии
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Компании
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Исследования
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Спецпроекты
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Вебинары
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Курсы
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Подкасты
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="info" id="info">
            <div class="container">
                <div class="info__box d-flex">
                    <div class="info__nat d-flex">
                        <p class="info__name">
                            Страны
                        </p>
                        <div class="info__flag d-flex">
                            <a href="#">
                                <img src="{% static 'img/info1.png' %}" alt="">
                            </a>
                            <a href="#">
                                <img src="{% static 'img/info2.png' %}" alt="">
                            </a>
                            <a href="#">
                                <img src="{% static 'img/info3.png' %}" alt="">
                            </a>
                            <a href="#">
                                <img src="{% static 'img/info4.png' %}" alt="">
                            </a>
                            <a href="#">
                                <img src="{% static 'img/info5.png' %}" alt="">
                            </a>
                            <a href="#">
                                <img src="{% static 'img/info6.png' %}" alt="">
                            </a>
                            <a href="#">
                                <img src="{% static 'img/info7.png' %}" alt="">
                            </a>
                            <a href="#">
                                <img src="{% static 'img/info8.png' %}" alt="">
                            </a>
                            <a href="#">
                                <img src="{% static 'img/info9.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="info__content d-flex">
                        <p class="info__name info__what">
                            Курсы валют
                        </p>
                        <div class="info__block d-flex">
                            <div class="info__item d-flex">
                                <div class="info__sign">
                                    $
                                </div>
                                <p>
                                    75,43 <span>руб.</span>
                                </p>
                            </div>
                            <div class="info__item d-flex">
                                <div class="info__sign">
                                     €
                                </div>
                                <p>
                                    89,54 <span>руб.</span>
                                </p>
                            </div>
                            <div class="info__item d-flex">
                                <div class="info__sign">
                                     <img src="{% static 'img/fig1.png' %}" alt="" class="info__one">
                                </div>
                                <p>
                                    811.036 <span>руб.</span>
                                </p>
                            </div>
                            <div class="info__item d-flex">
                                <div class="info__sign">
                                     <img src="{% static 'img/fig2.png' %}" alt="">
                                </div>
                                <p>
                                     75,43 <span>руб.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="news" id="news">
            <div class="container">
                <div class="news__box d-flex">
                    <div class="news__content">
                        {% block news %}
                        <div class="news__item">
                            <div class="news__flex d-flex">
                                <div class="news__info d-flex">
                                    <p class="news__name">
                                        Свежие новости
                                    </p>
                                    <p class="news__text">
                                        Воскресенье, 20 сентября.
                                    </p>
                                </div>
                                <a href="#" class="news__all">
                                    Все материалы <img src="{% static 'img/arrow.png' %}" alt="">
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo1.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Я работала диктатором на полставки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo2.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Турция испытала свой первый летающий автомобиль»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo3.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Гендиректор hoster.by: «ИT-страна откатывается назад минимум на 5 лет»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Выпускники физфака БГУ обратились к Нацсобранию. Среди них Румянцев»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo5.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Трамп запретит загрузку TikTok и WeChat в США с 20 сентября»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo2.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Facebook обвинили в слежке за пользователями через камеру телефона»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo3.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Аналитики назвали самые популярные вредоносные рассылки в этом год»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Белорусский сервис Eightydays.me поможет путешествовать внутри стран»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo1.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «iOS 14 без спроса делает Mail и Safari приложениями по умолчанию после перезагрузки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo2.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Рынок мобильных процессоров рухнул из-за пандемии. Но это ненадолго»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo3.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Currency.com дает $50 трейдерам Bittrex, попавшим под запрет на обслуживание»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Это информационная война». Основатель Nexta дал интервью Юрию Дудю»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo5.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «МВД рассказало, чем грозит пользователям беспарольная раздача трафика»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Заявление на сайте Госдепа: 29 стран осудили блокировку интернета в Беларуси»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo1.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Из-за кибератаки на немецкую больницу умерла женщина»
                                </a>
                            </div>
                        </div>
                        <a href="#" class="news__read bttn">
                            Читать еще
                        </a>
                        <div class="news__item">
                            <div class="news__flex d-flex">
                                <div class="news__info d-flex">
                                    <p class="news__name">
                                        Свежие новости
                                    </p>
                                    <p class="news__text">
                                        Воскресенье, 20 сентября.
                                    </p>
                                </div>
                                <a href="#" class="news__all">
                                    Все материалы <img src="{% static 'img/arrow.png' %}" alt="">
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo1.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Я работала диктатором на полставки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo2.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Турция испытала свой первый летающий автомобиль»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo3.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Гендиректор hoster.by: «ИT-страна откатывается назад минимум на 5 лет»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Выпускники физфака БГУ обратились к Нацсобранию. Среди них Румянцев»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo5.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Трамп запретит загрузку TikTok и WeChat в США с 20 сентября»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo2.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Facebook обвинили в слежке за пользователями через камеру телефона»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo3.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Аналитики назвали самые популярные вредоносные рассылки в этом год»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Белорусский сервис Eightydays.me поможет путешествовать внутри стран»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo1.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «iOS 14 без спроса делает Mail и Safari приложениями по умолчанию после перезагрузки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo2.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Рынок мобильных процессоров рухнул из-за пандемии. Но это ненадолго»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo3.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Currency.com дает $50 трейдерам Bittrex, попавшим под запрет на обслуживание»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Это информационная война». Основатель Nexta дал интервью Юрию Дудю»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo5.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «МВД рассказало, чем грозит пользователям беспарольная раздача трафика»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Заявление на сайте Госдепа: 29 стран осудили блокировку интернета в Беларуси»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo1.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Из-за кибератаки на немецкую больницу умерла женщина»
                                </a>
                            </div>
                        </div>
                        <a href="#" class="news__read bttn">
                            Читать еще
                        </a>
                        <div class="news__item">
                            <div class="news__flex d-flex">
                                <div class="news__info d-flex">
                                    <p class="news__name">
                                        Свежие новости
                                    </p>
                                    <p class="news__text">
                                        Воскресенье, 20 сентября.
                                    </p>
                                </div>
                                <a href="#" class="news__all">
                                    Все материалы <img src="{% static 'img/arrow.png' %}" alt="">
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo1.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Я работала диктатором на полставки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo2.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Турция испытала свой первый летающий автомобиль»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo3.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Гендиректор hoster.by: «ИT-страна откатывается назад минимум на 5 лет»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Выпускники физфака БГУ обратились к Нацсобранию. Среди них Румянцев»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo5.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Трамп запретит загрузку TikTok и WeChat в США с 20 сентября»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo2.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Facebook обвинили в слежке за пользователями через камеру телефона»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo3.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Аналитики назвали самые популярные вредоносные рассылки в этом год»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Белорусский сервис Eightydays.me поможет путешествовать внутри стран»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo1.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «iOS 14 без спроса делает Mail и Safari приложениями по умолчанию после перезагрузки»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo2.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Рынок мобильных процессоров рухнул из-за пандемии. Но это ненадолго»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo3.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Currency.com дает $50 трейдерам Bittrex, попавшим под запрет на обслуживание»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Это информационная война». Основатель Nexta дал интервью Юрию Дудю»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo5.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «МВД рассказало, чем грозит пользователям беспарольная раздача трафика»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo4.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Заявление на сайте Госдепа: 29 стран осудили блокировку интернета в Беларуси»
                                </a>
                            </div>
                            <div class="news__one d-flex">
                                <img src="{% static 'img/logo1.png' %}" alt="">
                                <a href="#" class="news__link">
                                    «Из-за кибератаки на немецкую больницу умерла женщина»
                                </a>
                            </div>
                        </div>
                        <a href="#" class="news__read bttn">
                            Читать еще
                        </a>
                        {% endblock %}
                    </div>

                    <div class="news__block">
                        <div class="news__two news__two_pos">
                            <a href="#" class="news__new">
                                <img src="{% static 'img/man.png' %}" alt="" class="news__pic">
                                <div class="news__bottom">
                                    <h5>
                                        Умер основатель TUT.BU <br>Юрий Зиссер
                                    </h5>
                                    <div class="news__stat d-flex">
                                        <p>
                                            28.08
                                        </p>
                                        <div class="news__like d-flex">
                                            <img src="{% static 'img/ic1.png' %}" alt="">
                                            <p>
                                                2k
                                            </p>
                                        </div>
                                        <div class="news__num d-flex">
                                            3
                                        </div>
                                        <div class="news__like news__like_last d-flex">
                                            <img src="{% static 'img/ic3.png' %}" alt="">
                                            <p>
                                                5
                                            </p>
                                        </div>
                                        <div class="news__love">
                                            <img src="{% static 'img/ic4.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news__two">
                            <a href="#" class="news__new">
                                <img src="{% static 'img/man2.png' %}" alt="" class="news__pic">
                                <div class="news__bottom">
                                    <h5>
                                        «Решили разбить кубышку». <br>Разработчики Targetprocess спасают <br>свой бар
                                    </h5>
                                    <div class="news__stat d-flex">
                                        <p>
                                            28.08
                                        </p>
                                        <div class="news__like d-flex">
                                            <img src="{% static 'img/icon1.png' %}" alt="">
                                            <p>
                                                2k
                                            </p>
                                        </div>
                                        <div class="news__num d-flex">
                                            3
                                        </div>
                                        <div class="news__like news__like_last d-flex">
                                            <img src="{% static 'img/icon3.png' %}" alt="" class="small">
                                            <p>
                                                5
                                            </p>
                                        </div>
                                        <div class="news__love">
                                            <img src="{% static 'img/icon4.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="news__word">
                                        Интернет вещей
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news__two">
                            <a href="#" class="news__new">
                                <img src="{% static 'img/man3.png' %}" alt="" class="news__pic">
                                <div class="news__bottom">
                                    <h5>
                                        Компании уходят на удалёнку - айтиш- <br>ники задумались о переезде из Долины
                                    </h5>
                                    <div class="news__stat d-flex">
                                        <p>
                                            28.08
                                        </p>
                                        <div class="news__like d-flex">
                                            <img src="{% static 'img/icon1.png' %}" alt="">
                                            <p>
                                                2k
                                            </p>
                                        </div>
                                        <div class="news__num d-flex">
                                            3
                                        </div>
                                        <div class="news__like news__like_last d-flex">
                                            <img src="{% static 'img/icon3.png' %}" alt="" class="small">
                                            <p>
                                                5
                                            </p>
                                        </div>
                                        <div class="news__love">
                                            <img src="{% static 'img/icon4.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="news__word news__word__pad">
                                        Интернет вещей
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news__two news__two_pos">
                            <a href="#" class="news__new">
                                <img src="{% static 'img/man.png' %}" alt="" class="news__pic">
                                <div class="news__bottom">
                                    <h5>
                                        Умер основатель TUT.BU <br>Юрий Зиссер
                                    </h5>
                                    <div class="news__stat d-flex">
                                        <p>
                                            28.08
                                        </p>
                                        <div class="news__like d-flex">
                                            <img src="{% static 'img/ic1.png' %}" alt="">
                                            <p>
                                                2k
                                            </p>
                                        </div>
                                        <div class="news__num d-flex">
                                            3
                                        </div>
                                        <div class="news__like news__like_last d-flex">
                                            <img src="{% static 'img/ic3.png' %}" alt="">
                                            <p>
                                                5
                                            </p>
                                        </div>
                                        <div class="news__love">
                                            <img src="{% static 'img/ic4.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news__two">
                            <a href="#" class="news__new">
                                <img src="{% static 'img/man3.png' %}" alt="" class="news__pic">
                                <div class="news__bottom">
                                    <h5>
                                        Компании уходят на удалёнку - айтиш- <br>ники задумались о переезде из Долины
                                    </h5>
                                    <div class="news__stat d-flex">
                                        <p>
                                            28.08
                                        </p>
                                        <div class="news__like d-flex">
                                            <img src="{% static 'img/icon1.png' %}" alt="">
                                            <p>
                                                2k
                                            </p>
                                        </div>
                                        <div class="news__num d-flex">
                                            3
                                        </div>
                                        <div class="news__like news__like_last d-flex">
                                            <img src="{% static 'img/icon3.png' %}" alt="" class="small">
                                            <p>
                                                5
                                            </p>
                                        </div>
                                        <div class="news__love">
                                            <img src="{% static 'img/icon4.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="news__word news__word__pad">
                                        Интернет вещей
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news__two">
                            <a href="#" class="news__new">
                                <img src="{% static 'img/man2.png' %}" alt="" class="news__pic">
                                <div class="news__bottom">
                                    <h5>
                                        «Решили разбить кубышку». <br>Разработчики Targetprocess спасают <br>свой бар
                                    </h5>
                                    <div class="news__stat d-flex">
                                        <p>
                                            28.08
                                        </p>
                                        <div class="news__like d-flex">
                                            <img src="{% static 'img/icon1.png' %}" alt="">
                                            <p>
                                                2k
                                            </p>
                                        </div>
                                        <div class="news__num d-flex">
                                            3
                                        </div>
                                        <div class="news__like news__like_last d-flex">
                                            <img src="{% static 'img/icon3.png' %}" alt="" class="small">
                                            <p>
                                                5
                                            </p>
                                        </div>
                                        <div class="news__love">
                                            <img src="{% static 'img/icon4.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="news__word">
                                        Интернет вещей
                                    </div>
                                </div>
                            </a>
                        </div>
                    <div class="news__two">
                            <a href="#" class="news__new">
                                <img src="{% static 'img/man3.png' %}" alt="" class="news__pic">
                                <div class="news__bottom">
                                    <h5>
                                        Компании уходят на удалёнку - айтиш- <br>ники задумались о переезде из Долины
                                    </h5>
                                    <div class="news__stat d-flex">
                                        <p>
                                            28.08
                                        </p>
                                        <div class="news__like d-flex">
                                            <img src="{% static 'img/icon1.png' %}" alt="">
                                            <p>
                                                2k
                                            </p>
                                        </div>
                                        <div class="news__num d-flex">
                                            3
                                        </div>
                                        <div class="news__like news__like_last d-flex">
                                            <img src="{% static 'img/icon3.png' %}" alt="" class="small">
                                            <p>
                                                5
                                            </p>
                                        </div>
                                        <div class="news__love">
                                            <img src="{% static 'img/icon4.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="news__word news__word__pad">
                                        Интернет вещей
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news__two news__two_pos">
                            <a href="#" class="news__new">
                                <img src="{% static 'img/man.png' %}" alt="" class="news__pic">
                                <div class="news__bottom">
                                    <h5>
                                        Умер основатель TUT.BU <br>Юрий Зиссер
                                    </h5>
                                    <div class="news__stat d-flex">
                                        <p>
                                            28.08
                                        </p>
                                        <div class="news__like d-flex">
                                            <img src="{% static 'img/ic1.png' %}" alt="">
                                            <p>
                                                2k
                                            </p>
                                        </div>
                                        <div class="news__num d-flex">
                                            3
                                        </div>
                                        <div class="news__like news__like_last d-flex">
                                            <img src="{% static 'img/ic3.png' %}" alt="">
                                            <p>
                                                5
                                            </p>
                                        </div>
                                        <div class="news__love">
                                            <img src="{% static 'img/ic4.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news__two">
                            <a href="#" class="news__new">
                                <img src="{% static 'img/man2.png' %}" alt="" class="news__pic">
                                <div class="news__bottom">
                                    <h5>
                                        «Решили разбить кубышку». <br>Разработчики Targetprocess спасают <br>свой бар
                                    </h5>
                                    <div class="news__stat d-flex">
                                        <p>
                                            28.08
                                        </p>
                                        <div class="news__like d-flex">
                                            <img src="{% static 'img/icon1.png' %}" alt="">
                                            <p>
                                                2k
                                            </p>
                                        </div>
                                        <div class="news__num d-flex">
                                            3
                                        </div>
                                        <div class="news__like news__like_last d-flex">
                                            <img src="{% static 'img/icon3.png' %}" alt="" class="small">
                                            <p>
                                                5
                                            </p>
                                        </div>
                                        <div class="news__love">
                                            <img src="{% static 'img/icon4.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="news__word">
                                        Интернет вещей
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer" id="footer">
            <div class="container">
                <div class="footer__socials d-flex">
                    <a href="#">
                        <img src="{% static 'img/socials1.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials2.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials3.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials4.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials5.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials6.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials7.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials8.png' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/socials9.png' %}" alt="">
                    </a>
                </div>
                <ul class="footer__list d-flex">
                    <li>
                        <a href="#">
                            Рекламные возможности 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Партнёрские материалы 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакты
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Редполитика
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Пользовательское соглашение
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Частые вопросы 
                        </a>
                    </li>
                </ul>
                <p class="footer__text">
                    © 2008-2020 ЗАО «Индустрия 4.0»
                </p>
            </div>
        </footer>
     </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js?ver=5.1"></script>
    <!-- Подключен файл-валидатор, для проверки формы на заполненность  -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>