<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="keywords" content="Индустрии 4.0, IoT, AI, Нейросети, Робототехника, AR, VR, Виртуальная реальность , дополненная реальность, artificial intelligence, Новости ИИ, Разработка ИИ, ИИ в медицине, Тренды ИИ, Внедрение ИИ, Big data, Роботизация, Квадрокоптеры, дроны, тренды из мира роботов, кибербезопасность, хакерские атаки, Интернет вещей, Новости из мира IoT">
    <meta name="description" content="Лучшие Telegram каналы по теме Индустрии 4.0, IoT (Интерент вещей), AI (Искусственный интеллект), Робототехнике, AR, VR и тарнспорте будущего.">
    <title>Индустрия 4.0 - Лучшие Telegram каналы по теме Индустрии 4.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link href="{% static 'css/landing-google-font.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/landing.depends.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'img/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
    <meta name="application-name" content="Индустрия 4.0">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'img/mstile-144x144.png' %}">
</head>
<body>

<div class="wrapper">

<header class="section my-auto">
    <div class="container">
        <div class="row justify-content-start justify-container">
            <div class="logo col-12 col-sm-12 col-lg-4 ">
                <img class="logo-img" width="190" src="{% static 'img/logo-full.svg' %}" title="Индустрия 4.0">
            </div>
            <div class="col-12 col-sm-12 col-lg-4 ">
                <a href="{% url 'main:news' 'fresh' %}" class="news-tape bttn">Лента новостей</a>
            </div>
        </div>
    </div><!-- .container -->
</header>

<section class="section my-auto">
    <div class="container">
        <h1 class="title">Сеть тематических каналов в Telegram про&nbsp;AI,&nbsp;VR,&nbsp;AR,&nbsp;IoT<br>Cyber Security, Робототехнику, Транспорт будущего и многое&nbsp;другое...</h1>
    </div><!-- .container -->
</section><!-- .section -->

<section class="section my-auto">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-sm-6 col-lg-4 i-col">
                <div class="item">
                    <h3 class="i-title">Индустрия 4.0</h3>
                    <div class="row">
                        <div class="col-6 col-sm-8 mx-auto i-logo-col">
                            <img class="i-logo" src="{% static 'img/logo.svg' %}" title="Индустрия 4.0">
                        </div>
                    </div>
                    <p>Каждый день собираем самые актуальные новости Индустрии 4.0 с 60 разных источников со всего мира.</p>
                    <ul>
                        <li>IoT</li>
                        <li>AI</li>
                        <li>Нейросети</li>
                        <li>Робототехника</li>
                        <li>AR/VR</li>
                    </ul>
                    <p class="mt-auto">
                        <span class="fw-600">Подписывайтесь на наш канал</span>
                        <br>
                        <a href="https://t.me/industryfourzzero" target="_blank" title="Индустрия 4.0">@industryfourzzero</a>
                    </p>
                </div><!-- .item -->
            </div><!-- .col -->

            <div class="divider"></div>

            <div class="col-12 col-sm-6 col-lg-4 i-col">
                <div class="item">
                    <h3 class="i-title">AR/VR</h3>
                    <div class="row">
                        <div class="col-6 col-sm-8 mx-auto i-logo-col">
                            <img class="i-logo" src="{% static 'img/logo-1.svg' %}" title="AR/VR">
                        </div>
                    </div>
                    <p>Telegram канал с самыми актуальными новостями из мира VR/AR </p>
                    <ul>
                        <li>Новости из мира VR и AR</li>
                        <li>Авторские статьи</li>
                        <li>Обзоры и технологические тренды виртуальной и дополненной реальности</li>
                    </ul>
                    <p class="mt-auto">
                        <span class="fw-600">Подписывайтесь на наш канал</span>
                        <br>
                        <a href="https://t.me/vrarcom" target="_blank" title="AR/VR">@vrarcom</a>
                    </p>
                </div><!-- .item -->
            </div><!-- .col -->

            <div class="divider"></div>

            <div class="col-12 col-sm-6 col-lg-4 i-col">
                <div class="item">
                    <h3 class="i-title">Искусственный интеллект</h3>
                    <div class="row">
                        <div class="col-6 col-sm-8 mx-auto i-logo-col">
                            <img class="i-logo" src="{% static 'img/logo-2.svg' %}" title="Искусственный интеллект">
                        </div>
                    </div>
                    <p>Telegram канал про AI (artificial intelligence). Теперь все про искусственный интеллект в одном канале!</p>
                    <ul>
                        <li>Новости ИИ</li>
                        <li>Разработка ИИ</li>
                        <li>ИИ в медицине</li>
                        <li>Тренды ИИ</li>
                        <li>Внедрение ИИ</li>
                        <li>Big data</li>
                    </ul>
                    <p class="mt-auto">
                        <span class="fw-600">Подписывайтесь на наш канал</span>
                        <br>
                        <a href="https://t.me/ainetworkss" target="_blank" title="Искусственный интеллект">@ainetworkss</a>
                    </p>
                </div><!-- .item -->
            </div><!-- .col -->

            <div class="divider"></div>

            <div class="brake-xl"></div>

            <div class="col-12 col-sm-6 col-lg-4 i-col">
                <div class="item">
                    <h3 class="i-title">Робот Репорт</h3>
                    <div class="row">
                        <div class="col-6 col-sm-8 mx-auto i-logo-col">
                            <img class="i-logo" src="{% static 'img/logo-3.svg' %}" title="Робот Репорт">
                        </div>
                    </div>
                    <p>Telegram канал посвященный роботизации</p>
                    <ul>
                        <li>Авторские статьи</li>
                        <li>Аналитика</li>
                        <li>БПЛА, квадрокоптеры, дроны</li>
                        <li>Новости и технологические тренды из мира роботов</li>
                    </ul>
                    <p class="mt-auto">
                        <span class="fw-600">Подписывайтесь на наш канал</span>
                        <br>
                        <a href="https://t.me/robotreportcom" target="_blank" title="Робот Репорт">@robotreportcom</a>
                    </p>
                </div><!-- .item -->
            </div><!-- .col -->

            <div class="divider"></div>

            <div class="col-12 col-sm-6 col-lg-4 i-col">
                <div class="item">
                    <h3 class="i-title">Кибербезопасность</h3>
                    <div class="row">
                        <div class="col-6 col-sm-8 mx-auto i-logo-col">
                            <img class="i-logo" src="{% static 'img/logo-4.svg' %}" title="Кибербезопасность">
                        </div>
                    </div>
                    <p>Топовые новости про хакеров, взломы и кибербезопасность</p>
                    <ul>
                        <li>Новости</li>
                        <li>Аналитика</li>
                        <li>Обзоры и тренды</li>
                        <li>Интервью</li>
                        <li>Самые громкие взломы, утечки и хакерские атаки</li>
                    </ul>
                    <p class="mt-auto">
                        <span class="fw-600">Подписывайтесь на наш канал</span>
                        <br>
                        <a href="https://t.me/cybersecuritycom" target="_blank" title="Кибербезопасность">@cybersecuritycom</a>
                    </p>
                </div><!-- .item -->
            </div><!-- .col -->

            <div class="divider"></div>

            <div class="col-12 col-sm-6 col-lg-4 i-col">
                <div class="item">
                    <h3 class="i-title">Интернет вещей</h3>
                    <div class="row">
                        <div class="col-6 col-sm-8 mx-auto i-logo-col">
                            <img class="i-logo" src="{% static 'img/logo-5.svg' %}" title="Интернет вещей">
                        </div>
                    </div>
                    <p>Каждый день собираем самые свежие новости про IoT (Интернет вещей)</p>
                    <ul>
                        <li>Новости из мира IoT</li>
                        <li>Авторские статьи</li>
                        <li>Аналитические отчёты</li>
                        <li>Обзоры технологических трендов из мира IoT</li>
                    </ul>
                    <p class="mt-auto">
                        <span class="fw-600">Подписывайтесь на наш канал</span>
                        <br>
                        <a href="https://t.me/ruiot" target="_blank" title="Интернет вещей">@ruiot</a>
                    </p>
                </div><!-- .item -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .section -->

</div><!-- .wrapper -->

</body>
</html>